<%-include('header')-%>
<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sequi magni eos consequatur harum perspiciatis et doloribus assumenda quasi laboriosam quia asperiores delectus voluptates magnam, quas nemo debitis. Illum ex excepturi libero dolore ad consequatur, recusandae similique corporis. Rem nemo omnis assumenda incidunt nostrum iste, nihil culpa voluptatem aliquid perferendis!</p>
<%-include('footer')-%>